<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Quiz</title>
</head>

<body>
    {{>teacherHeader}}
    <div class="main-content">
        <a href="">View Attempted Quiz</a>
        <a href="">Add Quiz</a>
        <a href="">Download Quiz</a>
        <a href="">Delete Quiz</a>
    </div>

</body>

</html>