<header>
    <h1>{{title}}</h1>

    <div>
        <a href="/">Home</a>
        <a href="/head/">Dashboard</a>
        <a href="/head/classes">View Classes</a>
        {{!-- <a href="/results/class/:id">View Results of Class</a>
        <a href="/results/student/:id">View Results of Student</a> --}}
        <a href="/head/students">View Students</a>
        <a href="/head/materials">View Material</a>
    </div>
</header>