<header>
    <h1>{{title}}</h1>

    <div>
        <a href="/">Home</a>
        <a href="/student/">Dashboard</a>
        <a href="/student/viewquiz">Quiz</a>
        <a href="/student/viewassignment">Assignment</a>
        <a href="/student/material">View Material</a>
        <a href="/student/result">Results</a>
    </div>
</header>