<header>
    <h1>{{title}}</h1>

    <a href="/">Home</a>
    <a href="/teacher/">Dashboard</a>
    <a href="/teacher/viewattquiz">Quiz</a>
    <a href="/teacher/viewattassign">Assignment</a>
    <a href="/teacher/materials">Material</a>
    <a href="/teacher/marks">Marks</a>


    {{!-- <a href="/viewattquiz">View Attempted Quiz</a>
    <a href="/addquiz">Add Quiz</a>
    <a href="/quiz/:id">Download Attempted Quiz</a>
    <a href="/quiz/:id">Delete Quiz</a>
    <a href="/viewattassignment">View Attempted Assignment</a>
    <a href="/addassignment">Add Assignment</a>
    <a href="/assignment/:id">Download Attempted Assignment</a>
    <a href="/assignment/:id">Delete Assignment</a>
    <a href="/addmaterial">Add Material</a>
    <a href="/materials">View Material</a>
    <a href="/material/:id">Delete Material</a>
    <a href="/addmarks">Add Marks</a>
    <a href="/marks/:id">Update Marks</a>
    <a href="/marks/:id">Delete Marks</a> --}}
</header>